# dependencies
node_modules/
.pnp
.pnp.js

# testing
coverage/

# next.js
.next/
out/
build/
dist/

# production
*.tsbuildinfo

# env
.env
.env.local
.env.*.local

# supabase local
supabase/.branches/
supabase/.temp/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db